/*===================Fuentes=====================*/

body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-thumb {
    background: #232323;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}


@font-face {
    font-family: "Titulo-Uno";
    src: url("/fonts/Exo2-Bold.otf");
}

@font-face {
    font-family: "Titulo-Dos";
    src: url("/fonts/Exo2-Regular.otf");
}

@font-face {
    font-family: "Texto-uno";
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Texto-Dos";
    src: url("/fonts/Poppins-Bold.ttf");
}


/*===================Root=====================*/
:root {
    --primer-color: #030B13;
    --segundo-color: #E4E4E4;

    --background-color: #ffffff;
    --segundo-background-color: #EEEFF0;
    --tercer-color: #030B13;

    --sombra-principal: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
    --sombra-secundaria: rgba(31, 32, 33, 0.112) 0px 2px 14px 0px, rgba(14, 30, 37, 0.117) 0px 2px 16px 0px;
  
    --fonts-Titulo-uno:  "Titulo-Uno";
    --fonts-Titulo-dos:  "Titulo-Dos";
    --fonts-size-title-uno: 1.7rem;
    --fonts-size-title-dos: 2.5rem;
    --fonts-size-title-tres: 3rem;

    --fonts-Texto-uno:  "Texto-uno";
    --fonts-Texto-dos:  "Texto-Dos";
    --fonts-size-Texto-uno: 1.2rem;
    --fonts-size-Texto-dos: 1.5rem;
    --fonts-size-Texto-tres: 2.2rem;

    --border-radius-principal: 10px;
    --transition: 500ms;
}

/*----------Estilos------------*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* End reset */

html{
    font-size: 62.5%;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Agregar estilos propios */
body {
	font-family: var(--fonts-Texto-uno);
	background-color: var(--background-color);
	color: var(--primer-color);
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0 0 10px 0;
    /*font-family: ;*/
}

a {
	color: var(--primer-color);
	text-decoration: none;
}

a:hover {
	color: var(--primer-color);
	text-decoration: underline;
}


/* CSS PARA COMPONENTES */
@media(min-width:1024px){
    header #navBar{
        position:fixed;
    }
}