/* PRIMER CONTENEDOR DE CAMARAS */
.containerCamaras{
    background-image: url(/images/camaras/banner-prinpicipal.jpg);
    background: -webkit-linear-gradient(to top, #000000dc, #00000060, #00000010, #00000000, #0000003e, #0000007f),
        url(/images/camaras/banner-prinpicipal.jpg);
    background: linear-gradient(to top, #000000dc, #00000060, #00000010, #00000000, #0000003e, #0000007f),
        url(/images/camaras/banner-prinpicipal.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding: 0px 19vw 3vw 19vw;
    
}


/* CONTAINER CAMARAS DE VIGILANCIA */
.containerCamsVigilancia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.camsVigilanciaSubContainer {
    width: 50%;
}

/*
#carouselExampleInterval {
    width: 50%;
}

#carouselExampleInterval img {
    width: 30rem;
    height: 30rem;
    object-fit: contain;
}
*/



/*=======================DETALLES Y ESPECIFICACIONES===========================*/
.detailsEspecificacionesContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.detailsEspecificacionesSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/*=======================PRODUCTOS EN VENTA=======================*/

.productsVentaContainer {
    background-image: url(/images/camaras/banner-dos.jpeg);
    background: -webkit-linear-gradient(to top, #0000007d, #0000007d),
        url(/images/camaras/banner-dos.jpeg);
    background: linear-gradient(to top, #0000007d, #0000007d),
        url(/images/camaras/banner-dos.jpeg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 70vh;
    padding: 0px 10vw;

    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*=======================SERVICIOS DE INSTALACION=======================*/
.servInstalacionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.servInstalacionSubContainer {
    width: 50%;
}

.servInstalacionContainerImgs {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.servInstalacionImg {
    object-fit: cover;
    width: 100%;
}



/*=======================MAS GUSTADOS=======================*/
.gustadosTitle {
    font-size: 3rem;
}

.masGustadosContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.masGustadosSubContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gustadosFavoritos {
    margin: 2rem;
}

/*=======================OFERTAS Y PROMOCIONES=======================*/
.ofertasTitle {
    font-size: 3rem;
}

.ofertasContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ofertasSubContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ofertasFavoritos {
    margin: 2rem;
}