/* PRIMER CONTENEDOR DE CAMARAS */
.containerCamaras{
    background-image: url(/images/camaras/banner-prinpicipal.jpeg);
    background: -webkit-linear-gradient(to top, #000000dc, #00000060, #00000010, #00000000),
        url(/images/camaras/banner-prinpicipal.jpeg);
    background: linear-gradient(to top, #000000dc, #00000060, #00000010, #00000000),
        url(/images/camaras/banner-prinpicipal.jpeg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding-bottom: 10vh;
}

.containerCamarasText{
    width:90%;
    margin:0 auto;
    color: var(--background-color);
    font-size: var(--fonts-size-Texto-dos);
    font-family: var(--fonts-Texto-uno);
    
    text-align:center;
    margin-bottom:5rem;
    font-family:var(--fonts-Texto-uno);
}


/* CAMARAS DE VIGILANCIA */
.containerCamsVigilancia{
    display:flex;
    flex-direction:column;
    padding-bottom:3rem;
    padding-top:3rem;
}

.titleCamarasVig{
    font-family:var(--fonts-Titulo-uno);
    text-align:center;
    margin-top:1rem;
    margin-bottom:1rem;
}

.parrafoCamarasVigilancia{
    font-family:var(--fonts-Texto-uno);
    text-align:center;
    font-size:1.6rem;
    width:90%;
    margin:0 auto;
}

.camsVigilanciaBtn{
    width:10rem;
    margin:0 auto;
    margin-top:3rem;
    margin-bottom:3rem;
    font-size:1.6rem;
    font-family:var(--fonts-Titulo-uno);
    padding:1rem;
}


/* DETALLES Y ESPECIFICACIONES */
.detailsEspecificacionesContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.detailsEspecificacionesTitle{
    font-family:var(--fonts-Titulo-uno);
    text-align:center;
    font-size:2rem;
    margin-top:1rem;
    margin-bottom:1rem;
}

.parrafoDetailsEspecificaciones{
    font-family:var(--fonts-Texto-uno);
    text-align:center;
    font-size:1.5rem;
    width:90%;
    margin:0 auto;
}

.detailsEspecificacionesBtn{
    width:10rem;
    margin:0 auto;
    margin-top:3rem;
    margin-bottom:3rem;
    font-size:1.6rem;
    font-family:var(--fonts-Titulo-uno);
    padding:1rem;
}


/* SERVICIOS DE INSTALACION */
.servInstalacionContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.servInstalacionTitle{
    font-family:var(--fonts-Titulo-uno);
    text-align:center;
    font-size:2rem;
    margin-top:1rem;
    margin-bottom:1rem;
}

.servInstalacionParrafo{
    font-family:var(--fonts-Texto-uno);
    text-align:center;
    font-size:1.5rem;
    width:90%;
    margin:0 auto;
}

.servInstalacionImg{
    width:100vw;
    height:50%;
    object-fit:contain;
}



/* PRODUCTOS EN VENTA */
.productsVentaContainer{
    background:url("/images/camaras/productsVenta.png");
    width:100vw;
    height:100vh;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    object-fit:contain;    

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    color:#fff;
}

.productsVentaTitle{
    font-family:var(--fonts-Titulo-uno);
    text-align:center;
    font-size:2rem;
}


.productsVentaText{
    margin:0 auto;
    margin-top:1rem;
    width:90%;
    text-align:center;
    font-size:1.5rem;
    font-family:var(--fonts-Texto-uno);
}

/* NUESTROS PRODUCTOS */
.ourProductsTitle{
    font-size:2rem;
    text-align:center;
    margin-top:1rem;
    margin-bottom:1rem;
    font-family:var(--fonts-Titulo-uno);
}


/* MAS GUSTADOS */
.gustadosTitle{
    font-family:var(--fonts-Titulo-uno);
    text-align:center;
    font-size:2rem;
    margin-top:1rem;
    margin-bottom:1rem;
}

.gustadosFavoritos{
    background:var(--segundo-background-color);
    height:auto;
    width:80%;
    margin:0 auto;
    border-radius:2rem;
    padding:1rem;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.gustadosImg{
    width:25rem;
    height:25rem;
    margin:0 auto;
}

.gustadosSubtitle{
    color:#000;
    font-family:var(--fonts-Titulo-uno);
    font-size:2rem;
}

/* OFERTAS Y PROMOCIONES */
.ofertasTitle{
    font-family:var(--fonts-Titulo-uno);
    text-align:center;
    font-size:2rem;
    margin-top:1rem;
    margin-bottom:1rem;
}

.ofertasFavoritos{
    background:var(--segundo-background-color);
    height:auto;
    width:80%;
    margin:0 auto;
    border-radius:2rem;
    padding:1rem;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.ofertasImg{
    width:20rem;
    height:20rem;
    margin:0 auto;
}

.ofertasSubtitle{
    color:#000;
    font-family:var(--fonts-Titulo-uno);
    font-size:2rem;
}