/* PRIMER CONTENEDOR DE CAMARAS */
.containerCamaras{
    background-image: url(/images/camaras/banner-prinpicipal.jpeg);
    background: -webkit-linear-gradient(to top, #000000dc, #00000060, #00000010, #00000000),
        url(/images/camaras/banner-prinpicipal.jpeg);
    background: linear-gradient(to top, #000000dc, #00000060, #00000010, #00000000),
        url(/images/camaras/banner-prinpicipal.jpeg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding-bottom: 10vh;
}

.containerCamarasText{
    width:90%;
    margin:0 auto;
    color: var(--background-color);
    font-size: var(--fonts-size-Texto-dos);
    font-family: var(--fonts-Texto-uno);
    
    text-align:center;
    margin-bottom:5rem;
    font-family:var(--fonts-Texto-uno);
}

/* SERVICIOS DE INSTALACION */
.servInstalacion{
    width:100vw;
    height:50%;
    object-fit:contain;
}

/* PRODUCTOS EN VENTA */
.productsVenta{
    background:url("/images/camaras/productsVenta.png");
    width:100vw;
    height:100vh;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    object-fit:contain;    

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    color:#fff;
}

.productsVentaText{
    margin:0 auto;
    margin-top:1rem;
    width:90%;
    text-align:center;
    font-size:1.5rem;
}

/* NUESTROS PRODUCTOS */
.ourProductsTitle{
    font-size:2rem;
    text-align:center;
    margin-top:1rem;
    margin-bottom:1rem;
}