/*===================Banner principal=====================*/
.section-contenedor-banner-principal{
    background-color: var(--primer-color);
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-contenedor-textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px 10px;

    width: 100%;
}

.contenedor-imagen-banner{
    width: 100%;
    padding: 10px;
}

.-imagen-banner{
    width: 100%;
}

.title-general-text-banner-principal{
    font-family: "Titulo-Uno";
    color: var(--background-color);
    font-size: var(--fonts-size-title-dos);
    text-align: center;
}

.p-general-text-banner-principal{
    font-family: "Texto-Uno";
    color: var(--background-color);
    font-size: var(--fonts-size-Texto-dos);
    text-align: center;
}

/*===================segundo banner=====================*/

.section-contenedor-banner-secundario{
    background-image: url(../../images/componentes/BlackShark.jpg);
    background: -webkit-linear-gradient(to bottom, #030b13, #030b13e3, #030b1335,#030b1327, #030b1355, #030b13),
        url(../../images/componentes/BlackShark.jpg);
    background: linear-gradient(to bottom, #030B13, #030b13e3, #030b1335,#030b1327, #030b1355, #030b13),
        url(../../images/componentes/BlackShark.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding: 10px  10px  12vh  10px;
}

.title-general-text-banner-secundario{
    font-family: "Titulo-Uno";
    color: var(--background-color);
    font-size: var(--fonts-size-title-dos);
    text-align: center;
}

.p-general-text-banner-secundario{
    font-family: "Texto-Uno";
    color: var(--background-color);
    font-size: var(--fonts-size-Texto-dos);
    text-align: center;
    padding: 10px;
}

/*===================banner slider=====================*/

.banner-titulo-general{
    font-family: var(--fonts-Titulo-uno);
    color: var(--primer-color);
    font-size: var(--fonts-size-title-dos);
    text-align: center;

    margin: 0;
    padding: 40px 0px 10px 0px;
}

.banner-slider{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: var(--border-radius-principal);
}

.testimonial_box-top{
    margin: 10px;
}


/*===================div expand=====================*/
.contenedor-de-productos-general{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.contenedor-de-productos-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px 0px 20px 0px;
}


/*-------div expand------*/
.expand-container {
    width: 310px;
    height: 200px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.expand-content {
    width: 310px;
}

.expand-button {
    padding: 10px;
    text-align: center;
    
    background-color: var(--background-color);
    border: 3px solid var(--primer-color);
    border-radius: var(--border-radius-principal);
    text-align: center;
    margin: 10px;
    transform: rotate(0deg);
}

.fa-expand-class{
    font-size: 30px;
    color: var(--primer-color);
}

.expand-container.expanded {
    height: 610px !important;
}


/*---card div---*/

.expand-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 310px;
}

.producto-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 170px;

    box-shadow: var(--sombra-secundaria);
    border-radius: var(--border-radius-principal);
    padding: 2px;
    margin: 10px 10px 22px 10px;
}

.img-producto{
    width: 100px;
}

.nombre-producto{
    font-family: "Texto-Uno";
    color: var(--primer-color);
    font-size: var(--fonts-size-Texto-dos);
    text-align: center;

    margin: 0;
    padding: 10px 0px 10px 0px;
}


/*===============Slider CAMARAS=====================*/

.carousel-control-next-icon {
    background-color: #33333389;
    border-radius: var(--border-radius-principal);
    padding: 13px;
    transition: var(--transition);
}

.carousel-control-prev-icon {
    background-color: #33333389;
    border-radius: var(--border-radius-principal);
    padding: 13px;
    transition: var(--transition);
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}



/*===============banner pc=====================*/
.contenedor-de-banner-final{
    background-image: url(../../images/componentes/banner.jpeg);
    background: -webkit-linear-gradient(to bottom, #030b138a, #030b138a),
        url(../../images/componentes/banner.jpeg);
    background: linear-gradient(to bottom, #030B138a, #030b138a),
        url(../../images/componentes/banner.jpeg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin-top: 30px;
}


.title-general-text-banner-final{
    font-family: "Titulo-Uno";
    color: var(--background-color);
    font-size: var(--fonts-size-title-dos);
    text-align: center;
}

.p-general-text-banner-final{
    font-family: "Texto-Uno";
    color: var(--background-color);
    font-size: var(--fonts-size-Texto-dos);
    text-align: center;
}

/*==============GENERAL TEXTOS================*/

.section-contenedor-about-me-y-tec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-general-div-section-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px 1px;
    height: 300px;
}

.fondo-section-6-osc {
    background-color: var(--primer-color);
}

.fondo-section-6-cla {
    background-color: var(--segundo-color);
}


.title-general-text{
    font-family: "Titulo-Uno";
    color: var(--segundo-color);
    font-size: var(--fonts-size-title-dos);
    text-align: center;
}

.p-general-text-dos {
    font-family: "Texto-Uno";
    color: var(--background-color);
    font-size: var(--fonts-size-Texto-dos);
    text-align: center;
    padding: 7px;
}

.title-general-text-oscuro{
    font-family: "Titulo-Uno";
    color: var(--primer-color);
    font-size: var(--fonts-size-title-tres);
    text-align: center;
}

.p-general-text-oscuro{
    font-family: "Texto-Uno";
    color: var(--primer-color);
    font-size: var(--fonts-size-Texto-dos);
    text-align: center;
    padding: 7px;
}
